body {
  margin: 0;
  overflow-x: hidden;
  color: var(--text-color);
}

.letra {
  color: white;
}

.color1 {
  color: #96858f;
  font-size: 30px;
}
.color2 {
  color: #6d7993;
  font-size: 30px;
}
.color3 {
  color: #9099a2;
  font-size: 30px;
}
.color4 {
  color: #d5d5d5;
  font-size: 30px;
}
.fondo1 {
  background-color: #96858f;
}
.fondo2 {
  background-color: #6d7993;
}
.fondo3 {
  background-color: #9099a2;
}
.fondo4 {
  background-color: #d5d5d5;
}

.footer {
  margin-bottom: var(--header-height);
  color: white;
  text-align: left;
  padding: 0.5rem;
  background-color: #6d7993;
}
