body {
  margin: 0;
  overflow-x: hidden;
  color: var(--text-color);
  font-family: Georgia, "Times New Roman", Times, serif;
}
.main {
  padding-top: 5rem;
  margin-left: 1rem;
}
.header {
  background: #6d7993;
  color: white;
  padding: 0.1rem 0;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}
.header a {
  color: white;
  text-decoration: none;
  padding: 2rem 0;
}
.navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.navigation ul li {
  display: inline-block;
}
.navigation ul li a {
  display: block;
  padding: 0.8rem 1 rem;
  border-radius: 5px;
  padding-left: 0.8rem;
}
.navigation ul li a:hover {
  color: #9099a2;
}
.container {
  width: 85%;
  max-width: 850px;
  margin: 0 auto;
}
.logo-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  letter-spacing: 2px;
  font-size: 1.1em;
}
.footer {
  margin-bottom: var(--header-height);
  color: white;
  text-align: center;
  padding: 1rem;
  background-color: #6d7993;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 12px;
}
